## Numpy

In [1]:
import numpy as np

In [2]:
dir(np)

['ALLOW_THREADS',
 'AxisError',
 'BUFSIZE',
 'CLIP',
 'ComplexWarning',
 'DataSource',
 'ERR_CALL',
 'ERR_DEFAULT',
 'ERR_IGNORE',
 'ERR_LOG',
 'ERR_PRINT',
 'ERR_RAISE',
 'ERR_WARN',
 'FLOATING_POINT_SUPPORT',
 'FPE_DIVIDEBYZERO',
 'FPE_INVALID',
 'FPE_OVERFLOW',
 'FPE_UNDERFLOW',
 'False_',
 'Inf',
 'Infinity',
 'MAXDIMS',
 'MAY_SHARE_BOUNDS',
 'MAY_SHARE_EXACT',
 'MachAr',
 'ModuleDeprecationWarning',
 'NAN',
 'NINF',
 'NZERO',
 'NaN',
 'PINF',
 'PZERO',
 'RAISE',
 'RankWarning',
 'SHIFT_DIVIDEBYZERO',
 'SHIFT_INVALID',
 'SHIFT_OVERFLOW',
 'SHIFT_UNDERFLOW',
 'ScalarType',
 'Tester',
 'TooHardError',
 'True_',
 'UFUNC_BUFSIZE_DEFAULT',
 'UFUNC_PYVALS_NAME',
 'VisibleDeprecationWarning',
 'WRAP',
 '_NoValue',
 '_UFUNC_API',
 '__NUMPY_SETUP__',
 '__all__',
 '__builtins__',
 '__cached__',
 '__config__',
 '__doc__',
 '__file__',
 '__git_revision__',
 '__loader__',
 '__mkl_version__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_add_newdoc_ufunc',
 '_arg',
 '_distributor_init',
 '_globals',
 '_mat',
 '_mklinit',
 '_pytesttester',
 'abs',
 'absolute',
 'absolute_import',
 'add',
 'add_docstring',
 'add_newdoc',
 'add_newdoc_ufunc',
 'alen',
 'all',
 'allclose',
 'alltrue',
 'amax',
 'amin',
 'angle',
 'any',
 'append',
 'apply_along_axis',
 'apply_over_axes',
 'arange',
 'arccos',
 'arccosh',
 'arcsin',
 'arcsinh',
 'arctan',
 'arctan2',
 'arctanh',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'argwhere',
 'around',
 'array',
 'array2string',
 'array_equal',
 'array_equiv',
 'array_repr',
 'array_split',
 'array_str',
 'asanyarray',
 'asarray',
 'asarray_chkfinite',
 'ascontiguousarray',
 'asfarray',
 'asfortranarray',
 'asmatrix',
 'asscalar',
 'atleast_1d',
 'atleast_2d',
 'atleast_3d',
 'average',
 'bartlett',
 'base_repr',
 'binary_repr',
 'bincount',
 'bitwise_and',
 'bitwise_not',
 'bitwise_or',
 'bitwise_xor',
 'blackman',
 'block',
 'bmat',
 'bool',
 'bool8',
 'bool_',
 'broadcast',
 'broadcast_arrays',
 'broadcast_to',
 'busday_count',
 'busday_offset',
 'busdaycalendar',
 'byte',
 'byte_bounds',
 'bytes0',
 'bytes_',
 'c_',
 'can_cast',
 'cast',
 'cbrt',
 'cdouble',
 'ceil',
 'cfloat',
 'char',
 'character',
 'chararray',
 'choose',
 'clip',
 'clongdouble',
 'clongfloat',
 'column_stack',
 'common_type',
 'compare_chararrays',
 'compat',
 'complex',
 'complex128',
 'complex64',
 'complex_',
 'complexfloating',
 'compress',
 'concatenate',
 'conj',
 'conjugate',
 'convolve',
 'copy',
 'copysign',
 'copyto',
 'core',
 'corrcoef',
 'correlate',
 'cos',
 'cosh',
 'count_nonzero',
 'cov',
 'cross',
 'csingle',
 'ctypeslib',
 'cumprod',
 'cumproduct',
 'cumsum',
 'datetime64',
 'datetime_as_string',
 'datetime_data',
 'deg2rad',
 'degrees',
 'delete',
 'deprecate',
 'deprecate_with_doc',
 'diag',
 'diag_indices',
 'diag_indices_from',
 'diagflat',
 'diagonal',
 'diff',
 'digitize',
 'disp',
 'divide',
 'division',
 'divmod',
 'dot',
 'double',
 'dsplit',
 'dstack',
 'dtype',
 'e',
 'ediff1d',
 'einsum',
 'einsum_path',
 'emath',
 'empty',
 'empty_like',
 'equal',
 'errstate',
 'euler_gamma',
 'exp',
 'exp2',
 'expand_dims',
 'expm1',
 'extract',
 'eye',
 'fabs',
 'fastCopyAndTranspose',
 'fft',
 'fill_diagonal',
 'find_common_type',
 'finfo',
 'fix',
 'flatiter',
 'flatnonzero',
 'flexible',
 'flip',
 'fliplr',
 'flipud',
 'float',
 'float16',
 'float32',
 'float64',
 'float_',
 'float_power',
 'floating',
 'floor',
 'floor_divide',
 'fmax',
 'fmin',
 'fmod',
 'format_float_positional',
 'format_float_scientific',
 'format_parser',
 'frexp',
 'frombuffer',
 'fromfile',
 'fromfunction',
 'fromiter',
 'frompyfunc',
 'fromregex',
 'fromstring',
 'full',
 'full_like',
 'fv',
 'gcd',
 'generic',
 'genfromtxt',
 'geomspace',
 'get_array_wrap',
 'get_include',
 'get_printoptions',
 'getbufsize',
 'geterr',
 'geterrcall',
 'geterrobj',
 'gradient',
 'greater',
 'greater_equal',
 'half',
 'hamming',
 'hanning',
 'heaviside',
 'histogram',
 'histogram2d',
 'histogram_bin_edges',
 'histogramdd',
 'hsplit',
 'hstack',
 'hypot',
 'i0',
 'identity',
 'iinfo',
 'imag',
 'in1d',
 'index_exp',
 'indices',
 'inexact',
 'inf',
 'info',
 'infty',
 'inner',
 'insert',
 'int',
 'int0',
 'int16',
 'int32',
 'int64',
 'int8',
 'int_',
 'int_asbuffer',
 'intc',
 'integer',
 'interp',
 'intersect1d',
 'intp',
 'invert',
 'ipmt',
 'irr',
 'is_busday',
 'isclose',
 'iscomplex',
 'iscomplexobj',
 'isfinite',
 'isfortran',
 'isin',
 'isinf',
 'isnan',
 'isnat',
 'isneginf',
 'isposinf',
 'isreal',
 'isrealobj',
 'isscalar',
 'issctype',
 'issubclass_',
 'issubdtype',
 'issubsctype',
 'iterable',
 'ix_',
 'kaiser',
 'kron',
 'lcm',
 'ldexp',
 'left_shift',
 'less',
 'less_equal',
 'lexsort',
 'lib',
 'linalg',
 'linspace',
 'little_endian',
 'load',
 'loads',
 'loadtxt',
 'log',
 'log10',
 'log1p',
 'log2',
 'logaddexp',
 'logaddexp2',
 'logical_and',
 'logical_not',
 'logical_or',
 'logical_xor',
 'logspace',
 'long',
 'longcomplex',
 'longdouble',
 'longfloat',
 'longlong',
 'lookfor',
 'ma',
 'mafromtxt',
 'mask_indices',
 'mat',
 'math',
 'matmul',
 'matrix',
 'matrixlib',
 'max',
 'maximum',
 'maximum_sctype',
 'may_share_memory',
 'mean',
 'median',
 'memmap',
 'meshgrid',
 'mgrid',
 'min',
 'min_scalar_type',
 'minimum',
 'mintypecode',
 'mirr',
 'mod',
 'modf',
 'moveaxis',
 'msort',
 'multiply',
 'nan',
 'nan_to_num',
 'nanargmax',
 'nanargmin',
 'nancumprod',
 'nancumsum',
 'nanmax',
 'nanmean',
 'nanmedian',
 'nanmin',
 'nanpercentile',
 'nanprod',
 'nanquantile',
 'nanstd',
 'nansum',
 'nanvar',
 'nbytes',
 'ndarray',
 'ndenumerate',
 'ndfromtxt',
 'ndim',
 'ndindex',
 'nditer',
 'negative',
 'nested_iters',
 'newaxis',
 'nextafter',
 'nonzero',
 'not_equal',
 'nper',
 'npv',
 'numarray',
 'number',
 'obj2sctype',
 'object',
 'object0',
 'object_',
 'ogrid',
 'oldnumeric',
 'ones',
 'ones_like',
 'outer',
 'packbits',
 'pad',
 'partition',
 'percentile',
 'pi',
 'piecewise',
 'place',
 'pmt',
 'poly',
 'poly1d',
 'polyadd',
 'polyder',
 'polydiv',
 'polyfit',
 'polyint',
 'polymul',
 'polynomial',
 'polysub',
 'polyval',
 'positive',
 'power',
 'ppmt',
 'print_function',
 'printoptions',
 'prod',
 'product',
 'promote_types',
 'ptp',
 'put',
 'put_along_axis',
 'putmask',
 'pv',
 'quantile',
 'r_',
 'rad2deg',
 'radians',
 'random',
 'rank',
 'rate',
 'ravel',
 'ravel_multi_index',
 'real',
 'real_if_close',
 'rec',
 'recarray',
 'recfromcsv',
 'recfromtxt',
 'reciprocal',
 'record',
 'remainder',
 'repeat',
 'require',
 'reshape',
 'resize',
 'result_type',
 'right_shift',
 'rint',
 'roll',
 'rollaxis',
 'roots',
 'rot90',
 'round',
 'round_',
 'row_stack',
 's_',
 'safe_eval',
 'save',
 'savetxt',
 'savez',
 'savez_compressed',
 'sctype2char',
 'sctypeDict',
 'sctypeNA',
 'sctypes',
 'searchsorted',
 'select',
 'set_numeric_ops',
 'set_printoptions',
 'set_string_function',
 'setbufsize',
 'setdiff1d',
 'seterr',
 'seterrcall',
 'seterrobj',
 'setxor1d',
 'shape',
 'shares_memory',
 'short',
 'show_config',
 'sign',
 'signbit',
 'signedinteger',
 'sin',
 'sinc',
 'single',
 'singlecomplex',
 'sinh',
 'size',
 'sometrue',
 'sort',
 'sort_complex',
 'source',
 'spacing',
 'split',
 'sqrt',
 'square',
 'squeeze',
 'stack',
 'std',
 'str',
 'str0',
 'str_',
 'string_',
 'subtract',
 'sum',
 'swapaxes',
 'sys',
 'take',
 'take_along_axis',
 'tan',
 'tanh',
 'tensordot',
 'test',
 'testing',
 'tile',
 'timedelta64',
 'trace',
 'tracemalloc_domain',
 'transpose',
 'trapz',
 'tri',
 'tril',
 'tril_indices',
 'tril_indices_from',
 'trim_zeros',
 'triu',
 'triu_indices',
 'triu_indices_from',
 'true_divide',
 'trunc',
 'typeDict',
 'typeNA',
 'typecodes',
 'typename',
 'ubyte',
 'ufunc',
 'uint',
 'uint0',
 'uint16',
 'uint32',
 'uint64',
 'uint8',
 'uintc',
 'uintp',
 'ulonglong',
 'unicode',
 'unicode_',
 'union1d',
 'unique',
 'unpackbits',
 'unravel_index',
 'unsignedinteger',
 'unwrap',
 'ushort',
 'vander',
 'var',
 'vdot',
 'vectorize',
 'version',
 'void',
 'void0',
 'vsplit',
 'vstack',
 'warnings',
 'where',
 'who',
 'zeros',
 'zeros_like']

In [3]:
#craeting ana array

In [5]:
x=np.array([[1,2,3],[4,5,7]])

In [6]:
x

array([[1, 2, 3],
       [4, 5, 7]])

In [7]:
np.shape(x)

(2, 3)

In [8]:
np.size(x)

6

In [10]:
np.ndim(x)

2

In [14]:
x.itemsize

4

In [15]:
x

array([[1, 2, 3],
       [4, 5, 7]])

In [16]:
#reshape

In [18]:
x.reshape(3,2)

array([[1, 2],
       [3, 4],
       [5, 7]])

In [19]:
x.reshape(6,1)

array([[1],
       [2],
       [3],
       [4],
       [5],
       [7]])

In [20]:
x.reshape(2,2)

ValueError: cannot reshape array of size 6 into shape (2,2)

In [21]:
#slicing

In [22]:
x[0]

array([1, 2, 3])

In [27]:
x[0,2]

3

In [30]:
x[1,1]

5

In [31]:
x

array([[1, 2, 3],
       [4, 5, 7]])

In [33]:
x[0:,0]

array([1, 4])

In [35]:
x[:,0]

array([1, 4])

In [36]:
x[:,-1]

array([3, 7])

In [37]:
x[:,2]

array([3, 7])

In [45]:
x[:,0::2]

array([[1, 3],
       [4, 7]])

In [46]:
x[:,0:2]

array([[1, 2],
       [4, 5]])

In [50]:
x.min()

1

In [51]:
x.max()

7

In [52]:
x.sum()

22

In [53]:
x.mean()

3.6666666666666665

In [62]:
x.min(0)

array([1, 2, 3])

In [58]:
x.max(axis=1)

array([3, 7])

In [63]:
x.sum(axis=0)

array([ 5,  7, 10])

In [64]:
x

array([[1, 2, 3],
       [4, 5, 7]])

In [65]:
x.sum(axis=1)

array([ 6, 16])

In [67]:
np.sqrt(x)

array([[1.        , 1.41421356, 1.73205081],
       [2.        , 2.23606798, 2.64575131]])

In [68]:
np.std(x)

1.9720265943665387

In [69]:
a=np.array([(1,3,5),(3,4,5),(2,8,7)])

In [70]:
b=np.array([(6,3,9),(5,3,8),(9,7,5)])

In [71]:
a

array([[1, 3, 5],
       [3, 4, 5],
       [2, 8, 7]])

In [72]:
b

array([[6, 3, 9],
       [5, 3, 8],
       [9, 7, 5]])

In [75]:
np.vstack((a,b))

array([[1, 3, 5],
       [3, 4, 5],
       [2, 8, 7],
       [6, 3, 9],
       [5, 3, 8],
       [9, 7, 5]])

In [76]:
np.hstack((a,b))

array([[1, 3, 5, 6, 3, 9],
       [3, 4, 5, 5, 3, 8],
       [2, 8, 7, 9, 7, 5]])

In [78]:
np.ravel((a,b))

array([1, 3, 5, 3, 4, 5, 2, 8, 7, 6, 3, 9, 5, 3, 8, 9, 7, 5])

In [79]:
np.arange(1,10)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [80]:
for i in np.arange(1,5):
    print(x)

[[1 2 3]
 [4 5 7]]
[[1 2 3]
 [4 5 7]]
[[1 2 3]
 [4 5 7]]
[[1 2 3]
 [4 5 7]]

In [81]:
np.sin(x)

array([[ 0.84147098,  0.90929743,  0.14112001],
       [-0.7568025 , -0.95892427,  0.6569866 ]])

In [82]:
np.tan(x)

array([[ 1.55740772, -2.18503986, -0.14254654],
       [ 1.15782128, -3.38051501,  0.87144798]])

In [83]:
np.cos(a)

array([[ 0.54030231, -0.9899925 ,  0.28366219],
       [-0.9899925 , -0.65364362,  0.28366219],
       [-0.41614684, -0.14550003,  0.75390225]])

## pandas

In [84]:
import pandas as pd

In [85]:
dir(pd)

['Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NaT',
 'Panel',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseArray',
 'SparseDataFrame',
 'SparseDtype',
 'SparseSeries',
 'TimeGrouper',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_hashtable',
 '_lib',
 '_libs',
 '_np_version_under1p13',
 '_np_version_under1p14',
 '_np_version_under1p15',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_tslib',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'datetime',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'np',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_msgpack',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_msgpack',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [86]:
#creating a series data type

In [87]:
s=pd.Series([1,2,3,34,5,56])

In [88]:
s

0     1
1     2
2     3
3    34
4     5
5    56
dtype: int64

In [92]:
s1=pd.Series([1,2,3,34,5,56],index=['x','y','z','a','b','c'])

In [93]:
s1

x     1
y     2
z     3
a    34
b     5
c    56
dtype: int64

In [100]:
s+s1

x      2
y      4
z      6
a     68
b     10
c    112
dtype: int64

In [218]:
v1=[1,2,5,9]
v2=[9,3,4,5]
df=pd.DataFrame({'x':v1,'y':v2})

In [219]:
df

   x  y
0  1  9
1  2  3
2  5  4
3  9  5

In [123]:
df.isnull()

       x      y
0  False  False
1  False  False
2  False  False
3  False  False

In [130]:
df1=pd.DataFrame({'x':[20,32,34,21],'y':[6,4,3,299]},index=['a','b','c','d'],dtype=float)

In [131]:
df1

      x      y
a  20.0    6.0
b  32.0    4.0
c  34.0    3.0
d  21.0  299.0

In [208]:
data=[[20,32,34,21],[6,4,3,299],[2,3,4]]

In [209]:
df=pd.DataFrame(data,columns=["x1",'x2','x3','x4'])

In [210]:
df

   x1  x2  x3     x4
0  20  32  34   21.0
1   6   4   3  299.0
2   2   3   4    NaN

In [211]:
df.isnull()

      x1     x2     x3     x4
0  False  False  False  False
1  False  False  False  False
2  False  False  False   True

In [212]:
df.values

array([[ 20.,  32.,  34.,  21.],
       [  6.,   4.,   3., 299.],
       [  2.,   3.,   4.,  nan]])

In [213]:
df.size

12

In [214]:
df.shape

(3, 4)

In [215]:
df.ndim

2

In [216]:
#slicing

In [217]:
df

   x1  x2  x3     x4
0  20  32  34   21.0
1   6   4   3  299.0
2   2   3   4    NaN

In [168]:
df.head()

   x1  x2  x3     x4
0  20  32  34   21.0
1   6   4   3  299.0
2   2   3   4    NaN

In [169]:
df.tail(2)

   x1  x2  x3     x4
1   6   4   3  299.0
2   2   3   4    NaN

In [170]:
df.tail(1)

   x1  x2  x3  x4
2   2   3   4 NaN

In [171]:
df.tail()

   x1  x2  x3     x4
0  20  32  34   21.0
1   6   4   3  299.0
2   2   3   4    NaN

In [172]:
#merging and joning

In [176]:
df1

      x      y
a  20.0    6.0
b  32.0    4.0
c  34.0    3.0
d  21.0  299.0

In [187]:
df

   x1  x2  x3     x4
0  20  32  34   21.0
1   6   4   3  299.0
2   2   3   4    NaN

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [199]:
data=[[2,3,4],[2,6,7,8],[3,2,45,7]]
df1=pd.DataFrame(data,columns=["x1",'x2','x3','x4'])

In [200]:
df1

   x1  x2  x3   x4
0   2   3   4  NaN
1   2   6   7  8.0
2   3   2  45  7.0

In [201]:
df

   x1  x2  x3     x4
0  20  32  34   21.0
1   6   4   3  299.0
2   2   3   4    NaN

In [202]:
m=pd.merge(df1,df)

In [203]:
print(m)

   x1  x2  x3  x4
0   2   3   4 NaN

In [204]:
m

   x1  x2  x3  x4
0   2   3   4 NaN

In [220]:
j=df1.join(df)#,index=["x1",'x2','x3','x4'])

In [222]:
df

   x  y
0  1  9
1  2  3
2  5  4
3  9  5

In [223]:
df1

   x1  x2  x3   x4
0   2   3   4  NaN
1   2   6   7  8.0
2   3   2  45  7.0

In [224]:
j

   x1  x2  x3   x4  x  y
0   2   3   4  NaN  1  9
1   2   6   7  8.0  2  3
2   3   2  45  7.0  5  4

In [225]:
d=[[2,3,4],[4,5,6,7],[5,4,3],[7,8,9,10]]

In [226]:
f1=pd.DataFrame(d,columns=["x",'y','z','z1'],index=[1,2,3,4])

In [227]:
f1

   x  y  z    z1
1  2  3  4   NaN
2  4  5  6   7.0
3  5  4  3   NaN
4  7  8  9  10.0

In [233]:
d1=[[3,4,6],[6,7,8,9],[7,8,9,10]]
f2=pd.DataFrame(d1,columns=['x','y','z','z1'])
f2

   x  y  z    z1
0  3  4  6   NaN
1  6  7  8   9.0
2  7  8  9  10.0

In [234]:
merge=pd.merge(f1,f2)

In [235]:
merge

   x  y  z    z1
0  7  8  9  10.0

In [237]:
x=[[1,2,3],[4,5,6]]
f3=pd.DataFrame(x,columns=['y1','y2','y3'],index=['a','b'])

In [238]:
f3

   y1  y2  y3
a   1   2   3
b   4   5   6

In [240]:
f4=pd.DataFrame({'name':[6,4,11],'genedr':[1,0,1]})
f4

   name  genedr
0     6       1
1     4       0
2    11       1

In [242]:
joint=f3.join(f4)

In [243]:
joint

   y1  y2  y3  name  genedr
a   1   2   3   NaN     NaN
b   4   5   6   NaN     NaN

In [247]:
#concat
c=pd.concat([f3,f2])
c

C:\Users\Public\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

     x    y   y1   y2   y3    z    z1
a  NaN  NaN  1.0  2.0  3.0  NaN   NaN
b  NaN  NaN  4.0  5.0  6.0  NaN   NaN
0  3.0  4.0  NaN  NaN  NaN  6.0   NaN
1  6.0  7.0  NaN  NaN  NaN  8.0   9.0
2  7.0  8.0  NaN  NaN  NaN  9.0  10.0

In [248]:
c.isnull()

       x      y     y1     y2     y3      z     z1
a   True   True  False  False  False   True   True
b   True   True  False  False  False   True   True
0  False  False   True   True   True  False   True
1  False  False   True   True   True  False  False
2  False  False   True   True   True  False  False

In [249]:
c.notnull()

       x      y     y1     y2     y3      z     z1
a  False  False   True   True   True  False  False
b  False  False   True   True   True  False  False
0   True   True  False  False  False   True  False
1   True   True  False  False  False   True   True
2   True   True  False  False  False   True   True

In [250]:
c.columns

Index(['x', 'y', 'y1', 'y2', 'y3', 'z', 'z1'], dtype='object')

In [251]:
c["y2"]

a    2.0
b    5.0
0    NaN
1    NaN
2    NaN
Name: y2, dtype: float64

In [257]:
#index changing
c1=pd.DataFrame({1:[1,2,3],2:[4,5,6],'i':['x','y','z']})
c1.set_index('i')

   1  2
i
x  1  4
y  2  5
z  3  6

In [263]:
#changing the coulmn headers
c2=c1.rename(columns={1:'a',2:'b'})
c2

   a  b  i
0  1  4  x
1  2  5  y
2  3  6  z

In [262]:
c1

   1  2  i
0  1  4  x
1  2  5  y
2  3  6  z

In [264]:
#data munging
dd=pd.read_csv("table.csv")

In [265]:
dd

   x  y   z
0  5  0  43
1  3  9   2
2  4  7  88
3  5  6   1

In [266]:
dd['x']

0    5
1    3
2    4
3    5
Name: x, dtype: int64

In [270]:
help(pd.read_json)

Help on function read_json in module pandas.io.json.json:

read_json(path_or_buf=None, orient=None, typ='frame', dtype=True, convert_axes=True, convert_dates=True, keep_default_dates=True, numpy=False, precise_float=False, date_unit=None, encoding=None, lines=False, chunksize=None, compression='infer')
    Convert a JSON string to pandas object.

    Parameters
    ----------
    path_or_buf : a valid JSON string or file-like, default: None
        The string could be a URL. Valid URL schemes include http, ftp, s3,
        gcs, and file. For file URLs, a host is expected. For instance, a local
        file could be ``file://localhost/path/to/table.json``

    orient : string,
        Indication of expected JSON string format.
        Compatible JSON strings can be produced by ``to_json()`` with a
        corresponding orient value.
        The set of possible orients is:

        - ``'split'`` : dict like
          ``{index -> [index], columns -> [columns], data -> [values]}``
        - ``'records'`` : list like
          ``[{column -> value}, ... , {column -> value}]``
        - ``'index'`` : dict like ``{index -> {column -> value}}``
        - ``'columns'`` : dict like ``{column -> {index -> value}}``
        - ``'values'`` : just the values array

        The allowed and default values depend on the value
        of the `typ` parameter.

        * when ``typ == 'series'``,

          - allowed orients are ``{'split','records','index'}``
          - default is ``'index'``
          - The Series index must be unique for orient ``'index'``.

        * when ``typ == 'frame'``,

          - allowed orients are ``{'split','records','index',
            'columns','values', 'table'}``
          - default is ``'columns'``
          - The DataFrame index must be unique for orients ``'index'`` and
            ``'columns'``.
          - The DataFrame columns must be unique for orients ``'index'``,
            ``'columns'``, and ``'records'``.

        .. versionadded:: 0.23.0
           'table' as an allowed value for the ``orient`` argument

    typ : type of object to recover (series or frame), default 'frame'
    dtype : boolean or dict, default True
        If True, infer dtypes, if a dict of column to dtype, then use those,
        if False, then don't infer dtypes at all, applies only to the data.
    convert_axes : boolean, default True
        Try to convert the axes to the proper dtypes.
    convert_dates : boolean, default True
        List of columns to parse for dates; If True, then try to parse
        datelike columns default is True; a column label is datelike if

        * it ends with ``'_at'``,

        * it ends with ``'_time'``,

        * it begins with ``'timestamp'``,

        * it is ``'modified'``, or

        * it is ``'date'``

    keep_default_dates : boolean, default True
        If parsing dates, then parse the default datelike columns
    numpy : boolean, default False
        Direct decoding to numpy arrays. Supports numeric data only, but
        non-numeric column and index labels are supported. Note also that the
        JSON ordering MUST be the same for each term if numpy=True.
    precise_float : boolean, default False
        Set to enable usage of higher precision (strtod) function when
        decoding string to double values. Default (False) is to use fast but
        less precise builtin functionality
    date_unit : string, default None
        The timestamp unit to detect if converting dates. The default behaviour
        is to try and detect the correct precision, but if this is not desired
        then pass one of 's', 'ms', 'us' or 'ns' to force parsing only seconds,
        milliseconds, microseconds or nanoseconds respectively.
    encoding : str, default is 'utf-8'
        The encoding to use to decode py3 bytes.

        .. versionadded:: 0.19.0

    lines : boolean, default False
        Read the file as a json object per line.

        .. versionadded:: 0.19.0

    chunksize : integer, default None
        Return JsonReader object for iteration.
        See the `line-delimted json docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-jsonl>`_
        for more information on ``chunksize``.
        This can only be passed if `lines=True`.
        If this is None, the file will be read into memory all at once.

        .. versionadded:: 0.21.0

    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer', then use
        gzip, bz2, zip or xz if path_or_buf is a string ending in
        '.gz', '.bz2', '.zip', or 'xz', respectively, and no decompression
        otherwise. If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.

        .. versionadded:: 0.21.0

    Returns
    -------
    result : Series or DataFrame, depending on the value of `typ`.

    See Also
    --------
    DataFrame.to_json

    Notes
    -----
    Specific to ``orient='table'``, if a :class:`DataFrame` with a literal
    :class:`Index` name of `index` gets written with :func:`to_json`, the
    subsequent read operation will incorrectly set the :class:`Index` name to
    ``None``. This is because `index` is also used by :func:`DataFrame.to_json`
    to denote a missing :class:`Index` name, and the subsequent
    :func:`read_json` operation cannot distinguish between the two. The same
    limitation is encountered with a :class:`MultiIndex` and any names
    beginning with ``'level_'``.

    Examples
    --------

    >>> df = pd.DataFrame([['a', 'b'], ['c', 'd']],
    ...                   index=['row 1', 'row 2'],
    ...                   columns=['col 1', 'col 2'])

    Encoding/decoding a Dataframe using ``'split'`` formatted JSON:

    >>> df.to_json(orient='split')
    '{"columns":["col 1","col 2"],
      "index":["row 1","row 2"],
      "data":[["a","b"],["c","d"]]}'
    >>> pd.read_json(_, orient='split')
          col 1 col 2
    row 1     a     b
    row 2     c     d

    Encoding/decoding a Dataframe using ``'index'`` formatted JSON:

    >>> df.to_json(orient='index')
    '{"row 1":{"col 1":"a","col 2":"b"},"row 2":{"col 1":"c","col 2":"d"}}'
    >>> pd.read_json(_, orient='index')
          col 1 col 2
    row 1     a     b
    row 2     c     d

    Encoding/decoding a Dataframe using ``'records'`` formatted JSON.
    Note that index labels are not preserved with this encoding.

    >>> df.to_json(orient='records')
    '[{"col 1":"a","col 2":"b"},{"col 1":"c","col 2":"d"}]'
    >>> pd.read_json(_, orient='records')
      col 1 col 2
    0     a     b
    1     c     d

    Encoding with Table Schema

    >>> df.to_json(orient='table')
    '{"schema": {"fields": [{"name": "index", "type": "string"},
                            {"name": "col 1", "type": "string"},
                            {"name": "col 2", "type": "string"}],
                    "primaryKey": "index",
                    "pandas_version": "0.20.0"},
        "data": [{"index": "row 1", "col 1": "a", "col 2": "b"},
                {"index": "row 2", "col 1": "c", "col 2": "d"}]}'