## Handling csv files

In [1]:
file="mstp.txt"
def name(file):
    with open (file,'w') as f:
        f.write("kvsw"+","+"kvsr"+","+"kvsm")
name(file)

In [4]:
s="\n,mcjdscbjcn"
with open(file,'a') as f:
    f.write(s)

In [6]:
with open(file,'r') as f:
    s=f.read()
    print(s)

kvsw,kvsr,kvsmcse,ece,civil
cse,ece,civil
,mcjdscbjcn
v

In [9]:
with open(file,'r') as f:
    s=f.readlines()
    print(s[0])

kvsw,kvsr,kvsmcse,ece,civil

In [22]:
file="contacts.txt"
with open (file,"w") as f:
    f.write("name"+","+"9963674059"+","+"kvswwomens@gmail.com")
    f.write("\nname1"+","+"9963674079"+","+"kvswcoed@gmail.com")

In [41]:
file="contacts.txt"
def csvtolist(file):
    l=[]
    with open(file,'r') as f:
        for line in f:
            l.append(line.split(","))
    return l
        
csvtolist(file)
def listtocsv(file):
    d=csvtolist(file)
    s=""
    for i in d:
        s+=",".join(i)
    print(s)
listtocsv(file)

name,9963674059,kvswwomens@gmail.com
name1,9963674079,kvswcoed@gmail.com

In [53]:

import re
def phnovalidator(no):
    pattern='[9876][0-9]{9}$|^[0][6-9][0-9]{9}$|^[+][9][1][6-9][0-9]{9}$'
    if re.match(pattern,str(no)):
        return True
    else:
        return False
def emailval(email):
    pattern='^[0-9a-z][0-9a-z_.]{4,13}[0-9a-z][@][0-9a-z]{3,18}[.][a-z]{2,4}$'
    if re.match(pattern,email):
    
        return True
    else:
        return False
def searchcontact(name,file):
    s=csvtolist(file)
    for i in s:
        if i[0]==name:
            return 1
    return 0
    
searchcontact("nameeee","contacts.txt")
def addcontact(name,no,email,file):
    if searchcontact(name,file)==0:
        if phnovalidator(no)==1:
            print("phone no success")
            if emailval(email)==1:
                print("email success")
                with open(file,'a') as f:
                    f.write("\n"+name+","+no+','+email)
                    print("contact added successfully")
    else:
        print("contact already exixts")
addcontact("cse","9963452017","kvswcse@gmail.com","contacts.txt")

contact already exixts

# Functional Programming

In [4]:
#Ex procedure -c
#scrpting -php,java,python,shell
# Structured -Python java,scala

# List or dictionariesor tuplesor Sets Comphrehension

In [7]:
# print n natural numbers
n=int(input())
 i in range(1,n+1):
    prifornt(i,end=" ")

5
1 2 3 4 5

In [9]:
#List comprehension
#==>expression for list in item condition

In [10]:
n=int(input())
li=[i for i in range(1,n+1)]
li

5

[1, 2, 3, 4, 5]

In [13]:
x="apssdc"
print(type(x))
for i in x:
    print(i)

<class 'str'>
a
p
s
s
d
c

In [14]:
l=[s for s in x]
l

['a', 'p', 's', 's', 'd', 'c']

In [15]:
s="google.com"
a=s.upper()
a

'GOOGLE.COM'

In [21]:
f=[i.upper() for i in s]
f

['G', 'O', 'O', 'G', 'L', 'E', '.', 'C', 'O', 'M']

In [23]:
x="123asd"
for i in x:
    if i.isdigit():
        print(i,end=" ")

1 2 3

In [24]:
for i in x:
    if i.isalpha():
        print(i,end=" ")

a s d

In [27]:
ls=[n for n in x if n.isalpha()]
l=[n for n in x if n.isdigit()]
print(ls)
print(l)

['a', 's', 'd']
['1', '2', '3']

In [28]:
# print the first 10 numbers sqrt values in a list

In [30]:
n=int(input())
s=[i**0.5 for i in range(1,n+1)]
s

5

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

In [31]:
import math
n=5
l=[]
for i in range(1,n+1):
    l.append(math.sqrt(i))
l

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

In [33]:
li=[math.sqrt(n) for n in range(1,11)]
li

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795]

In [36]:
#double of value
for i in range(21,31):
    for j in range(1,10):
        print(i*j)

21
42
63
84
105
126
147
168
189
22
44
66
88
110
132
154
176
198
23
46
69
92
115
138
161
184
207
24
48
72
96
120
144
168
192
216
25
50
75
100
125
150
175
200
225
26
52
78
104
130
156
182
208
234
27
54
81
108
135
162
189
216
243
28
56
84
112
140
168
196
224
252
29
58
87
116
145
174
203
232
261
30
60
90
120
150
180
210
240
270

In [40]:
k=[i*i for i in range(21,31)] #doble of anumber
k

[441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [44]:
l=[i**3 for i in range(1,5)]# cubes 
l

[1, 8, 27, 64]

In [71]:
#function to find out factorial of a number
def fact(n):
    l=[]
    f=1
    for i in range(1,n+1):
        f=f*i
        l.append(f)
    print(l)
fact(5)

[1, 2, 6, 24, 120]

In [72]:
l_s=[fact(i) for i in range(5)]

[]
[1]
[1, 2]
[1, 2, 6]
[1, 2, 6, 24]

In [74]:
# even odd 
for i in range(11,21):
    if i%2==0:
        print("even ",i)
    if i%2!=0:
        print("odd",i)

odd 11
even  12
odd 13
even  14
odd 15
even  16
odd 17
even  18
odd 19
even  20

In [78]:
even_list=[i for i in range(11,21) if i%2==0]
odd_list=[i for i in range(11,21) if i%2!=0]
print(even_list)
print(odd_list)

[12, 14, 16, 18, 20]
[11, 13, 15, 17, 19]

In [84]:
h=["even" if i%2==0 else "odd"  for i in range(11,21)]
h1=[i if i%2==0 else i  for i in range(11,21)]
print(h)
print(h1)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [86]:
q_l=[i for i in range(1,20+1) if i%2==0 if i%5==0]
q_l

[10, 20]

In [87]:
#leap years from 2000-2020
x=[i for i in range(2000,2021) if i%4==0 and i%100!=0 or i%400==0]
print("leap years : ",x)

leap years :  [2000, 2004, 2008, 2012, 2016, 2020]

# Lambda

In [89]:
#anonymous function
# syntax----> lambda arguments:expression
def square(n):
    n**2
square(3)
d=lambda n:n**2
print(d(4))

16

In [91]:
s=lambda c:c**3
print(s(5))

125

In [92]:
l=[1,2,3,4,5]
l1=[]
for j in range(len(l)):
    a=l[j]**2
    l1.append(a)
print(l1)

[1, 4, 9, 16, 25]

In [95]:
a=[l[i]**2 for i in  range(len(l))]
a

[1, 4, 9, 16, 25]

# iterators

In [96]:
l=[1,2,4,5,6]
for i in l:
    print(i)

1
2
4
5
6

In [102]:
#iter(),next()
a=iter(l)
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

1
2
4
5
6

StopIteration:

# Generators

In [117]:
#yield,next
def add(a,b):
    c=a+b
    yield c
    a+=1
    b+=1
    c=a+b
    yield c
d=add(2,3)
print(next(d))
print(next(d))
for i in add(2,3):
    print(i)

5
7
5
7

# map

In [119]:
#syntax---map(fun,iterbale)
def square(n):
    return n**2
l=[1,2,3,4,5]
print(list(map(square,l)))

[1, 4, 9, 16, 25]

In [120]:
l=[1,2,3,4]
print(list(map(lambda x:x**2,l)))

[1, 4, 9, 16]

In [121]:
#addition of two numbers
t=(1,2,3)
t1=(4,5,6)
a=map(lambda a,b:a+b,t,t1)
print(list(a))

[5, 7, 9]

# filter

In [122]:
#filter(fun,iterable)
l=[1,2,3,4,5,6,7,8]
a=list(filter(lambda x:x%2==0,l))
a

[2, 4, 6, 8]

In [131]:
l=[1,2,3,'a','b']
l1=[]
for i in l:
    if str(i).isdigit():
        l1.append(i)

def digit(n):
    if str(n).isdigit():
            return True
    return False
a=list(filter(digit,l))
a

[1, 2, 3]

In [133]:
l=list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [134]:
def prime(n):
    fact=0
    for i in range(1,n+1):
        if n%i==0:
            fact=fact+1
    if fact==2:
        return 1
    return 0
print(list(filter(prime,l)))

[2, 3, 5, 7]